<h1>Edit Page</h1>
        <div>
          <%= render "form", flat: @flat %>
        </div>
    <%= button_to "Delete", @cooking_class, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Are you sure?" } %>
