// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;

// defined:
$light-gray: #8f8b8b;
$dark-gray: #333;
$orange: #DB7C26;
$red:#d9534f;
$background-color: #D8572A;
