<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <!-- navbar -->
    <div class="container">
    </div>

     <!-- search bar  -->
     <div class="container">
     </div>

    <!-- class list -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
          </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </body>
</html>
<!-- end of file -->
