.btn {
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-top: auto;
  transition: background-color 0.3s, transform 0.2s;
  border: 1px solid black;

  &:active {
    transform: scale(0.98);
  }
}

.btn-delete-cancel {
  background-color: #ffffff;
  color: $orange ;
  border-color: $orange;
&:hover {
  transform: scale(1.02);
  background-color: $orange ;
  color: #ffffff;
}
}

.btn-book {
  background-color: #257f31;
}

.btn-create-edit {
  background-color: $orange;
  border: none;
}

.btn-back-overview {
  background-color: hsl(208, 62%, 32%);
}

.btn-login {
  background-color: hsl(208, 62%, 32%);
  font-weight: bold;
}

.btn-block {
  display: block; // Makes the button span the full width
  width: 100%;
}
