// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

$h1-font: 'Helvetica, Arial, sans-serif';

h1 {
  font-family: $h1-font;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: $h1-font;
}

body {
  font-family: $h1-font;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
.page-title {
color: white ;
text-align: center;
position: relative;
}

.page-title-cooking {

  text-align: center;
  }

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.card-content .location,
.card-content .duration {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.card-content .location i,
.card-content .duration i {
  margin-right: 5px;
  color: #090909;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.card-content a {
  padding: 10px 20px;
  background-color: #D8572A;
  text-align: center;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-top: auto;
  transition: background-color 0.3s;
}

.card-content a:hover {
  background-color: #813531;
}

.a {
  text-decoration: underline;
  color: #D8572A;
}

a:hover {
  color: #C32F27;
}

#first-container {
  margin-bottom: 40px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
